




#footer{
	background-color:gray;
}

#nice {
border:3px red solid;
}

#First {
  color: #FA9C06;
}


#name {
  color: #346EE2;
}

h3 {
    color: maroon;
    margin-left: 40px;
}


ul {
    color: green;
    margin-left: 10px;
}

td {
    color: #DC143C;
    margin-left: 2px;
}










